.container{
    padding-bottom: 100px;
}
.school-logo{  
    height: 50px;
}
.header-background{
    background-color: #F0FFF0;
}
.nav-item-color li{

    margin: 0 0 0 33px;
}
.nav-item-color a:hover{ 
    
    background-color: #21B573;
    border-radius: 50px;
}
.nav-link{
    padding: 14px 0px;
}
.nav-button-color{
    background-color: transparent;
    border: none;
    color: black;
}

.active a>.nav-button-color {
    border-radius: 50px;
    background-color: #218838;
    color: white !important;
}
.schedule-color{
    color: #21B573;
}
.banner-spech h5{
    color: #FD511A;
}
.banner-spech p{
    color: gray;
    padding-bottom: 20px;
}
.banner-spech h1{
    font-weight: 700;
    font-size: 50px;
}
.button-color{
    border-radius: 50px;
}


/* body design start */
.section-top-space{
    padding-top: 50px;
}
.body-card{
    height: 250px;
    padding-top: 55px;
    background-color: #F0FFF0;
    border: none;
    border-radius: 10px;
}
.body-card:hover{
    background-color: white;
    box-shadow: 5px 5px 30px lightgray;    
}

/* online courses design start */
.courses-heading h2{
    color: #413960;
    font-weight: 700;
}
.courses-heading{
    padding-bottom: 100px;
}
.car-image{
    padding: 20px;
}
.courses-header-card{
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 30px lightgray; 
}
.card-bottom h6{
    padding-bottom: 15px;
    color: #413960;
}
.card-bottom h5{
    color: #413960;
    font-weight: 700;
}
.icon-size{
    width: 20px;
    height: 20px;
}
.content-beside{
    display: inline-flex;
}
.card-footer{
    border: none;
    background-color: white;
}

/* testimonial side design start */

.man-icon{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    
}
.man-icon-para p{
    padding-left: 20px;
    color: black;
    font-weight: 600;
}

/* footer design */
footer{
    background-color: #282531;
    color: white;
    
}
.dot-style li{
    list-style: none;
}
.dot-style li>a{
    text-decoration: none;
    color: white;
}
.text-color{
    color: white;
    padding-top: 50px;
}
.copyright-text{
    text-align: center;
}